.App {
  text-align: center;
}

h1 {
  padding: 2rem;
}

.Navbar {
  padding: 0rem;
}

.Navbar .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
}

.Navbar ul {
  margin-bottom: 0px;
}

.card {
  width: 400px;
}

#search-container {
  max-width: 600px;
}
